# Server
HOST=localhost
PORT=3000

# Database (Sesuaikan dengan PostgreSQL lokal Anda)
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=openjob_db
PGHOST=localhost
PGPORT=5432

# JWT Secrets
ACCESS_TOKEN_KEY=rahasia_level_3_jam_ini_sangat_kuat
REFRESH_TOKEN_KEY=rahasia_level_abadi_lebih_panjang_lagi