/node_modules
.env
progress.txt
Catatan-dari-Reviewer-v1.txt
ERD-OpenJob-versi-1.png
Project-Plan.md
Instructions-Belajar-Fundamental-Back-End-dengan-JavaScript.txt
Perbaikan-route-aunthentications.png